body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100vw;
    font-size: 18px;
    padding: 5px 0;
    position: fixed;
    color: white;
    height: 75px;
    background-color: #24262b;
}
.logo img{
    width: 30%;
    margin-left: 15px;
}
.right_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 14px;
}
.globe{
    display: flex;
    gap: 10px;
}
.globe img{
    width: 20px;
    height: 20px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.menu img{
    width: 20px;
    height: 20px;}
.button {
    background-color: #ffc427;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 7px;
    font-size: 1vw;
}
.overlay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image:url(./images/lo-homepage-background-010721.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 100%;
}
.left_side{
    display: grid;
    margin-left: 30px;
}
.left_text{
    margin-top: 120px;
    margin-right: 135px;
    margin-left: 40px;
}
.left_side h2{
    color: white;
    font-weight: bold;
    line-height: 1;
    font-size: 41px;}
.left_side span{
    color: white;
    font-size: 20px;}

.butn{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}   
.left_side ul{
    display: flex;
    gap: 10px;
    list-style: none;}
.course p{
    height: 36px;
    border: 1px solid red;
    background-color: red;
    padding: 10px 17px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: white;
    text-wrap: wrap;
    width: 136px;
    font-size: 14px;
}
.news p{
    height: 19px;
    border: 1px solid #343467;
    padding: 19px 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: lightblue;
    font-size: 14px;
    width: 100px;
    color: white;}
.data p{
    height: 36px;
    border: 1px solid #343467;
    padding: 10px 10px;
    border-radius: 7px;
    width: 210px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
    width: 174px;
    background-color: lightblue;
    color: white;}
.right_side img{
    height: 400px;
    width: 90%;
}
.right_side{
    margin-left: 200px;
    margin-top: 100px;}
.container{
    overflow: hidden;
}
.m_class{
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: black;
}
.m_left{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;

}
.m_right{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;}
.m_left img, .m_right img{
    max-width: 55%;
}
.m_holder1, .m_holder2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px;
}
.blu_grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #60b7da;
    color: white;
    align-items: center;
    height: 186px;
    border: 2px solid black;
    overflow:hidden;
}
.blu_holder1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    height: 186px;
    background-color: #009ddc !important;
    text-align: center;}
.blu_holder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    height: 186px;
    text-align: center;
    transition: transform 1s; 
    overflow:hidden;
    background-color: #009ddc;
}
.blu_grid .blu_holder:hover{
    transform: translateX(30px);
    overflow:hidden;
}
.blu_holder h2{
    font-size: 2vw;
    font-weight: 750;
}
.blu_holder span{
    font-size: 1vw;
    font-weight: 150;
}

.green_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2px;
    background-color: #2b410c;
    border-top: 1px solid black;
    position: relative;
    height: 810px;
    z-index: 19;
}
.green_grid_hold1 {
    display: grid;
    gap: 1px;
    width: 100%;
}
.secn1 {
    background-color: #7fc026;
    padding-top: 130px;
    text-align: center;
    text-decoration: none;
    border: .5px solid #6b6b6b;
    
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    transition-duration: .5s, 0.5s;
    position: relative;
    z-index: 14;
    transition-property: transform, z-index;
    transform-origin: 0 50%;
    transform-style: preserve-3d;
}
.secn1:hover{
    transform: translateZ(10px) perspective(3000px) rotateY(-40deg);
    transform-style: preserve-3d;
    z-index: 14;
}
.secn1 h1 {
    color: white;
    font-weight: 100;
    font-size: 23px;
    padding-top: 12px;
}
.secn2 {
    background-color: #7fc026;
    padding-top: 130px;
    text-align: center;
    text-decoration: none;
    border: .5px solid #6b6b6b;

    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    transition-duration: .5s, 0.5s;
    position: relative;
    transition-property: transform, z-index;
    transform-origin: 0 50%;
    transform-style: preserve-3d;
}
.secn2:hover{
    transform: translateZ(10px) perspective(3000px) rotateY(-40deg);
    transform-style: preserve-3d;
    z-index: 15;
}
.secn2 span {
    color: white;
    font-weight: 100;
    font-size: 23px;
    padding-top: 12px;
}
.green_grid_hold2 {
    background-color: #7fc026;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 50px;
}
.green_grid_hold2 h1 {
    font-weight: 100;
    font-size: 60px;
    padding-top: 265px;
}
.green_grid_hold2 span {
    font-weight: bold;
    font-size: 60px;
}
.green_grid_hold2 h5 {
    font-weight: 350;
    font-size: 23px;
    padding-top: 12px;
    color: #242424;
}
.green_grid_hold3 {
    display: grid;
    gap: 1px;
}
.green_grid_hold3 h5{
    font-size: 25px;
    font-weight: 400;
}
.secn3 {
    background-color: #7fc026;
    color: white;
    padding-top: 140px;
    text-decoration: none;
    text-align: center;
    border: .5px solid #6b6b6b;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    transition-duration: .5s, 0.5s;
    position: relative;
    z-index: 14;
    transition-property: transform, z-index;
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}
.secn3:hover{
    transform: translateZ(10px) perspective(3000px) rotateY(40deg);
    transform-style: preserve-3d;
    z-index: 14;
}
.secn4 {
    background-color: #7fc026;
    padding-top: 140px;
    text-align: center;
    text-decoration: none;
    border: .5px solid #6b6b6b;

    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    transition-duration: .5s, 0.5s;
    position: relative;
    transition-property: transform, z-index;
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}
.secn4:hover{
    transform: translateZ(10px) perspective(3000px) rotateY(40deg);
    transform-style: preserve-3d;
    z-index: 15;
}
.secn4 span{
    color: white;
    font-weight: 100;
    font-size: 23px;
    padding-top: 12px;
}
.align{
    align-content: center;
    padding-left: 48px;
    text-align: center;
}
.purple-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vw;
    background-color: #972169;
    color: white;
}
.purple-grid_hold2{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15vw;
    overflow: hidden;
}
.purple-grid_a{
    top: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s ease-in;
    background-color: #972169;
}
.purple-grid_p{
    position: absolute;
}
.purple-grid_hold2:hover .purple-grid_a{
    opacity: 1;
    top:0;
}
.purple-grid_hold2:hover .purple-grid_p{
display: hidden;
}
.purple-grid_p h4{
    font-size: 23px;
    padding-left: 60px;
    font-weight: lighter;
}
.purple-grid_a h1{
    padding-left: 60px;
    font-size: 30px;
    font-weight: lighter;
}
.purple-grid_a p{
    padding-left: 60px;
    font-size: 20px;
    font-weight: lighter;
}
.purple-grid_hold1{
    display: grid;
    justify-content: center;
    align-items: center;
}
.purple-grid_arnd{
    border-bottom: 0.5px solid black;
    width: 50vw;
    height: 30vw;
}
.purple-grid_arnd h4{
    text-align: center;
    font-size: 24px;
}
.purple-grid_arnd h1{
    font-size: 60px;
    text-align: center;
}
.purple-grid_hold2 h4{
    font-weight: lighter;
}
.purple-grid_hold3{
    display: grid;
}
.purple-grid_cyb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black;
}
.purple-grid_cyb h2{
    font-size: 30px;
    text-align: left;
}
.purple-grid_hold4{
    display: grid;
    height: 15vw;
    border-left: 0.5px solid black;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.purple-grid_wht{
    position: absolute;
}
.purple-grid_nov{
    top: 100%;
    background-color: #972169;
    position: absolute;
    opacity: 0;
    transition: 1s ease-in;
}
.purple-grid_hold4:hover .purple-grid_nov{
    opacity: 1;
    top:0;
}
.purple-grid_hold4:hover .purple-grid_wht{
    display: hidden; }

.purple-grid_wht h4{
    padding-left: 60px;
    font-size: 24px;
    font-weight: lighter;
}
.purple-grid_nov h1{
    padding-left: 60px;
    font-size: 30px;
    font-weight: lighter;
}
.purple-grid_nov p{
    padding-left: 60px;
    font-size: 24px;
    font-weight: lighter;
}
.purple-grid_cyb img{
    width: 20%;
}
.purple-grid_hold5{
    display: grid;
    height: 15vw;
    position: relative;
    border: 0.5px solid black;
    overflow: hidden;
    align-items: center;
}
.purple-grid_blog{
    position: absolute;
}
.purple-grid_apr{
    top: 100%;
    background-color: #972169;
    position: absolute;
    opacity: 0;
    transition: 1s ease-in;
}
.purple-grid_hold5:hover .purple-grid_apr{
    opacity: 1;
    top: 0;
    align-items: center;
    text-align: center;
}
.purple-grid_hold5:hover .purple-grid_apr{
    display: hidden;
}
.purple-grid_blog h4{
    padding-left: 60px;
    font-size: 24px;
    font-weight: lighter;
}
.purple-grid_apr h1{
    padding-left: 60px;
    font-size: 35px;
    font-weight: lighter;
}
.purple-grid_apr p{
    padding-left: 60px;
    font-size: 28px;
    font-weight: lighter;
}


.flex{
    display: flex;}
.d_blue_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    height: 650px;
    background-color: #04678f;
}
.d_blue_grid_hold a {
    text-align: center;
}
.find_why{
    display: flex;
    gap: 18px;
    font-family: 200;
    line-height: 1px;
}
.d_blue_grid_hold {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    overflow: hidden;
}
.d_blue_grid_hold .sec1 {
    background-color: #009ddc;
    padding-top: 150px;
    transition: transform 1s; 
    overflow: hidden;
}
.d_blue_grid_hold .sec1:hover {
    transform: translateX(-30px) translateY(-30px);
    overflow: hidden;
}
.d_blue_grid_hold .sec2 {
    background-color: #009ddc;
    padding-top: 140px;
    transition: transform 1s; 
    overflow: hidden;
}
.d_blue_grid_hold .sec2:hover {
    transform: translateX(30px) translateY(-30px);
}

.d_blue_grid_hold .sec3 {
    background-color: #009ddc;
    padding-top: 142px;
    transition: transform 1s; 
    overflow: hidden;
}
.d_blue_grid_hold .sec3:hover {
    transform: translateX(-30px) translateY(30px);
}
.d_blue_grid_hold .sec4 {
    padding-top: 118px;
    background-color: #009ddc;
    transition: transform 1s; 
    overflow: hidden;
}
.d_blue_grid_hold .sec4:hover {
    transform: translateX(30px) translateY(30px);
}
.sec5 {
    background-color: #009ddc;
    text-decoration: none;
    font-size: 34px;
    color: white;
    padding-left: 62px;
    line-height: 21px;
    padding-top: 203px;
    position: relative;
    z-index: 980;
}
.d_blue_grid_hold a img{
    background-position: center;
}
.yellow_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2px;
    position: relative;
    background-color: #ca9400;
    z-index: 10;
    height: 300px;
}
.yellow_grid .text6:hover {
    transform: translateX(40px); border-left: solid 2px #ca9400; overflow: hidden;
}
.yellow_grid a {
    height: 230px;
    background-color: #ffc428;
    text-decoration: none;
}
.yellow_grid .text6 {
    transition: transform 1s; overflow: hidden;
}
.text5 {
    display: flex;
    padding: 90px;
    justify-content: space-evenly;
    align-items: center;
}
.text5 h5 {
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.text6 {
    background-color: #806212;
    padding: 70px 150px;
}
.text6 img{
    max-width: 50%;
}
.text5 h1 {
    color: white;
    font-size: 65px;
}
footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    color: gray;
}
.footer_hold ul{
    display: flex;
    list-style: none;
    gap: 5px;
}
.footer_hold2 ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.footer_hold2 p{
    margin-right: 65px;
}

.mob_screen{
    display: none;
}


@media screen and (max-width: 768px) {
        
    .nav {
        font-size: 1.5vw;
        min-width: 320px;
        padding: 3px 0;
        overflow: hidden;}
    .logo{
        width: 50%;
        margin-left: 4px;
    }
    .right_nav{
        margin-right: 15px;
    }
    .globe img{
        width: 15%;
    }
    .menu img{
        width: 25%;
    }
    .button{
        padding: 3px;
    }
    .container{
        overflow: hidden;
    }
    .overlay{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        height: 400px;

    }
    .left_side{
        width: -1%;
        display: contents;
    }
    .right_side{
        width: 70%;
        margin-top: -190px;
        margin-left: 570px;
    }
    .left_text h2{
        font-size: 3.5vw;
    }
    .left_text span{
        font-size: 2.0vw;
    }
    .butn{
        width: 45%;
    }
    .right_side img{
        width: 180px;
        height: 170px;
    }
    .m_class{
    grid-template-columns: 2fr 2fr;
    }
    .m_left{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .m_right{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .m_holder2 img{
        width: 50px;
    }
    /* .west_text{
        font-size: 7px;
    } */
    .blu_grid{
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
        margin: auto;
    }
    .blu_holder h2{
        padding: 0 9px 0 0;
        /* font-size: 7px; */
    }
    .blu_holder span{
        font-size: 10px;
    }
    .green-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .green_hold{
    }
    footer{
        display: flex;
        /* flex-wrap: wrap; */
        font-size: 5px;
        justify-content: space-between;
        background-color: black;
        height: 100px;
    }
    .footer_hold{
        display: flex;
        flex-wrap: wrap;
        font-size: 6px;
    }
    .footer_hold2{
        display: flex;
        flex-wrap: wrap;
        font-size: 6px;
        background-color: black;
    }
}

    @media screen and (max-width: 426px) and (min-width: 320px) {
        .nav {
            font-size: 1.5vw;
            min-width: 320px;
            padding: 3px 0;
            overflow: hidden;}
        .logo{
            width: 50%;
            margin-left: 4px;
        }
        .right_nav{
            margin-right: 15px;
        }
        .globe img{
            width: 15%;
        }
        .menu img{
            width: 25%;
        }
        .button{
            padding: 3px;
        }
        .container{
            overflow: hidden;
        }
        .overlay{
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            height: 300px;

        }
        .left_side{
            width: -1%;
            display: contents;
        }
        .right_side{
            width: 70%;
            margin-top: -150px;
            margin-left: 271px;
            
        }
        .left_text h2{
            font-size: 3.5vw;
        }
        .left_text span{
            font-size: 2.0vw;
        }
        .butn{
            width: 45%;
            display: none;
        }
        .right_side img{
            width: 117px;
            height: 130px;
        }
        .m_class{
        grid-template-columns: 2fr 2fr;
        }
        .m_left{
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .m_right{
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .m_holder2 img{
            width: 50px;
        }
        .west_text{
            font-size: 7px;
        }
        .blu_grid{
            grid-template-columns: 2fr 1fr 1fr 1fr;
            align-items: center;
            margin: auto;
        }
        .blu_holder h2{
            padding: 0 9px 0 0;
            font-size: 7px;
        }
        .green-grid{
            grid-template-columns: repeat(3, 1fr);
        }
        .green_hold{
        }
        footer{
            display: flex;
            /* flex-wrap: wrap; */
            font-size: 5px;
            justify-content: space-between;
            background-color: black;
            height: 100px;
        }
        .footer_hold{
            display: flex;
            flex-wrap: wrap;
            font-size: 6px;
        }
        .footer_hold2{
            display: flex;
            flex-wrap: wrap;
            font-size: 6px;
            background-color: black;
        }
    }
    
    @media screen and (max-width: 768px) and (min-width: 320px){
        .nav{
            display: none;
        }
        .overlay{
            display: none;
        }
        .container{
            display: none;
        }
        footer{
            display: none;
        }

        .mob_screen{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2px;
            background-color: #2e2e2e;
            width: 100%;
        }
        .mob_screen .mob_1 {
            display: flex;
            justify-content: center;
            gap: 2px;
            background-color: black;
            height: 50px;
            padding-bottom: 10px;
            text-align: center;
            color: white;
            align-items: center;
        }
        .mob_1 img{
            height: 50px;
            width: 150px;
        }
    
        .mob_2 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1;
            height: 110px;
            background-color: #009ddc;
            text-align: center;
            padding: 35px;
            color: white;
    
        }
    
        .mob_2 h1 {
            font-weight: 200;
            font-size: 25px;
        }
    
        .mob_3 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1;
            background-color: #009ddc;
            height: 110px;
            text-align: center;
            padding: 35px;
            color: white;
    
        }
    
        .mob_3 h1 {
            font-weight: 200;
            font-size: 25px;
        }
    
        .mob_4 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1;
            background-color: #009ddc;
            height: 108px;
            text-align: center;
            padding: 35px;
            color: white;
    
        }
    
        .mob_4 h1 {
            font-weight: 200;
            font-size: 25px;
        }
    
        .mob_5 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1;
            background-color: #ef3832;
            height: 108px;
            text-align: center;
            padding: 35px;
            color: white;
    
        }
    
        .mob_5 h1 {
            font-weight: 200;
            font-size: 25px;
        }
    
        .mob_6 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1;
            background-color: #7fc026;
            height: 110px;
            text-align: center;
            padding: 35px;
            color: white;
    
        }
    
        .mob_6 h1 {
            font-weight: 200;
            font-size: 25px;
        }
    
        .mob_7 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1;
            background-color: #ffc428;
            height: 110px;
            text-align: center;
            padding: 35px;
            color: white;
    
        }
    
        .mob_7 h1 {
            font-weight: 200;
            font-size: 25px;
        }
    
        .mob_8 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
            background-color: black;
            height: 110px;
            text-align: center;
            padding: 35px;
            color: white;
        }
    
        .mob_8 .image {
            display: flex;
            text-align: center;
            margin: auto;
            gap: 25px;
        }
    
        .mob_8 h1 {
            font-weight: 200;
            font-size: 15px;
        }
    
        .mob_8 h2 {
            font-weight: 200;
            font-size: 15px;
        }
    
    }
    

    /* @media screen and (max-width: 375px) and (min-width: 320px) {
        .nav {
            font-size: 1.5vw;
            min-width: 320px;
            padding: 3px 0;
            overflow: hidden;}
        .logo{
            width: 50%;
            margin-left: 4px;
        }
        .right_nav{
            margin-right: 15px;
        }
        .globe img{
            width: 15%;
        }
        .menu img{
            width: 25%;
        }
        .button{
            padding: 3px;
        }
        .container{
            overflow: hidden;
        }
        .overlay{
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            height: 300px;

        }
        .left_side{
            width: -1%;
            display: contents;
        }
        .right_side{
            width: 70%;
            margin-top: -150px;
            margin-left: 195px;
            
        }
        .left_text h2{
            font-size: 3.5vw;
        }
        .left_text span{
            font-size: 2.0vw;
        }
        .butn{
            width: 45%;
            display: none;
        }
        .right_side img{
            width: 117px;
            height: 130px;
        }
        .m_class{
        grid-template-columns: 2fr 2fr;
        }
        .m_left{
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .m_right{
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .m_holder2 img{
            width: 50px;
        }
        .west_text{
            font-size: 7px;
        }
        .ready_text{
            font-size: 7px;
        }
        .blu_grid{
            grid-template-columns: 2fr 1fr 1fr 1fr;
            align-items: center;
            margin: auto;
        }
        .blu_holder h2{
            padding: 0 9px 0 0;
            font-size: 7px;
        }
        .green-grid{
            grid-template-columns: repeat(3, 1fr);
        }
        .green_hold{
        }
        footer{
            display: flex;
            /* flex-wrap: wrap; */
            /* font-size: 5px;
            justify-content: space-between;
            background-color: black;
            height: 100px;
        }
        .footer_hold{
            display: flex;
            flex-wrap: wrap;
            font-size: 6px;
        }
        .footer_hold2{
            display: flex;
            flex-wrap: wrap;
            font-size: 6px;
            background-color: black;
        } */
    /* } */ 